#file: /opt/csitea/pgsql-runner/pgsql-runner.0.1.3.git.ysg/src/bash/pgsql-runner/pgsql-runner.git.doc-pub-host.cnf 


[MainSection] 

#use simple var_name=var_value syntax 

#the name of this application 
app_name=pgsql-runner

#the e-mails to send the package to 
Emails=some.email@company.com

#the name of this application's db
db_name=git_pgsql-runner


#eof file: /opt/csitea/pgsql-runner/pgsql-runner.0.1.3.git.ysg/src/bash/pgsql-runner/pgsql-runner.git.doc-pub-host.cnf
