# file: src/bash/pgsql-runner/pgsql-runner.doc-pub-host.cnf
[MainSection]

#use simple var_name=var_value syntax 

#the name of this application 
app_name=pgsql-runner

# the dev db
db_name=dev_pgsql_runner
# db_name=dev_issue_tracker
# db_name=tst_issue_tracker

# the configured pgsql user to run the scripts with
pgsql_user=ysg

# to whom to send e-mails - use space as delimiter
Emails=yordan.georgiev@gmail.com

# where to place the backups of the 
network_backup_dir=/vagrant/csitea/pgsql-runner/dat/zip

#eof file: src/bash/pgsql-runner/pgsql-runner.doc-pub-host.cnf
